.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formLabel {
  font-weight: 300;
}

.submitButton {
  border: none;
  color: #fff;
  background: #449d44;
  font-weight: 300;
  font-size: 16px;
  transition: all ease 0.5s;
  height: 40px;
  border-radius: 2px;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.submitButton:hover {
  background: #5cb85c;
}

.disclaimer {
  font-weight: 300;
  font-size: 14px;
  hyphens: auto;
}
